<ng-container class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8" style="margin-left: 20px; width: 50vw;">
                <div class='row'>
                    <div class='col-md-4'>Id client :</div>
                    <div class='col-md-8'>{{customer.id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Nom :</div>
                    <div class='col-md-8'>{{customer.nom}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Prénom :</div>
                    <div class='col-md-8'>{{customer.prenom}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Email :</div>
                    <div class='col-md-8'>{{customer.email}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Ville :</div>
                    <div class='col-md-8'>{{customer.ville}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Code postal :</div>
                    <div class='col-md-8'>{{customer.codePostal}}</div>
                </div>
                <div class='row'>

                    <h3>Commandes passées du client : </h3>
                    <div *ngFor="let order of orders">
                        <br />
                        <div class="titre"> Date de la commande : {{ order.dateDeLaCommande | date : 'EEEE d MMMM y'}} </div>
                        <div class="titre"> Montant de la commande : {{ order.prix | currency:'EUR':'symbol' }} </div>
                        <br />
                        <div>
                            <table class="table">
                                <tr>
                                    <th> id ligne de commande</th>
                                    <th> id commande</th>
                                    <th> id produit</th>
                                    <th> quantité</th>
                                </tr>

                                <tr *ngFor='let ligneC of order.listLigneCommande'>

                                    <td>{{ ligneC.id}}</td>
                                    <td>{{ ligneC.commandeId }}</td>
                                    <td>{{ ligneC.produitId }}</td>
                                    <td>{{ ligneC.quantite }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>



                    <tr>
                        <button class="btn btn-primary" (click)='onBack()' style="margin-left: 400px;">RETOUR</button>
                    </tr>

                </div>
            </div>
        </div>

    </div>
</ng-container>