.titre {
    font-weight: bold;
    color: deeppink;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(230, 22, 150);
  }

  .row {
    padding: 10px 0;
    margin: 10px 0;
}

td, th{
    width: 150px;
    padding: 8px;
}